.table {
	border-collapse: collapse;
}

.table thead tr th {
	padding: 0.5rem 1.5rem;

	text-align: start;
	font-size: 0.8rem;

	color: var(--text);
}

.table tbody tr {
	background-color: var(--white);
	border: solid 0.5rem var(--background);
}

.table tbody tr td {
	padding: 1rem 1.5rem;
}

.table tbody tr td:first-child {
	text-align: center;
	width: 3rem;
	border: 0.2rem solid var(--background);

	font-size: 1.5rem;
	font-weight: 600;
}
